<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LockDown - Web UI</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="javascript" href="{{ url_for('static', filename='js/message.js') }}">
    <style>

    </style>
</head>
<body>
    <nav>
        <a href="#">Home</a>
        <a href="#">Features</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </nav>
    <h1>LockDown - Web UI</h1>
</body>
</html>