<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LockDown - Language Selection</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/message.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/language.css') }}" type="text/css">
</head>
<body>
<center>
    <div class="header-div">
        <img class="main-logo" src="{{ url_for('static', filename='images/icon.png') }}" alt="LockDown">
        <h2>LockDown</h2>
    </div>
</center>
<center class="main-screen">
    <div class="main-div">
        <h1 class="greeting-text"></h1>
        <p class="select">
            Please select your language to continue.
        </p>
        <form method="POST" action="/set_language">
            <select id="language-select" name="language">
                <option value="en"> English</option>
                <option value="tr"> Turkish</option>
                <option value="es"> Español</option>
                <option value="ru"> Russian</option>
            </select>
            <br>
            <button id="submit-button" type="submit">Continue</button>
        </form>
    </div>
</center>
<center>
    <div class="footer-div">
        <p class="version-text">Version: {{ version }}</p>
    </div>
</center>
</body>
</html>